<form action = <%= url %> >
  <select name="sort">
    <option value="name" selected="selected">Name</option>
    <option value="most">Most Rated</option>
    <option value="least">Least Rated</option>
  </select>
  <input type="submit" value="Sort By">
</form